body {
    background-color: whitesmoke;
    background-image: url("https://www.transparenttextures.com/patterns/lyonnette.png");
    border-bottom: 0px solid black;
    height: 450px;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  p {
    font-size: 18px;
    letter-spacing: 1.5px;
  }
  /* === Wrapper Styles === */
  #FileUpload {
    display: flex;
    justify-content: center;
  }
  .output-section {
    margin-top: 7.2rem !important;
  }
  .wrapper {
    margin: 30px;
    padding: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 10px;
    background-color: white;
    width: 415px;
    height: 30rem;
  }
  
  /* === Upload Box === */
  .upload {
    margin: 10px;
    height: 85px;
    border: 8px dashed #e6f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .upload p {
    margin-top: 12px;
    line-height: 0;
    font-size: 22px;
    color: #0c3214;
    letter-spacing: 1.5px;
  }
  .upload__button {
    background-color: #e6f5e9;
    border-radius: 10px;
    padding: 11px 44px;
  }
  .upload__button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  /* === Uploaded Files === */
  .uploaded {
    width: 375px;
    margin: 10px;
    background-color: #e6f5e9;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .file {
    display: flex;
    flex-direction: column;
  }
  .file__name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: baseline; */
    width: 300px;
    color: #0c3214;
    font-size: 18px;
    letter-spacing: 1.5px;
  }
  .fa-times:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  .fa-file-pdf {
    padding: 15px;
    font-size: 40px;
    color: #0c3214;
  }

  .preview-image {
    width: 10rem;
    height: 10rem;
    margin: 21px auto;
  }
  .final-value {
    background-color: #e6f5e9;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
  }

  .scan {
    text-align: center;
    padding: 6px 2px;
    margin: auto;
    width: 21rem;
    height: 13rem;
    position: relative;
    background-color: #e6f5e9;
    border-radius: 10px;
  }
  
  .scanning::after {
    content: '';
    background: rgb(23, 162, 74);
    width: 0.25em;
    height: 10rem;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    opacity: 7;
    z-index: 2;
    animation: 2s infinite ease-in-out roll;
  }
  
  .scan img {
    height: 12rem;
    width: 12rem;
  }
  
  @keyframes roll {
    0% {
      transform: translateX(-80px);
    }
    50% {
      transform: translateX(80px);
    }
    100% {
      transform: translateX(-80px);
    }
  }
  
  .output-image {
    height: 12rem;
    width: 12rem;
  }